.search-bar{
    position: relative;
    align-items: end;
    background-color: #9DBF89;
    padding-top: 28px;
    justify-content: end;
}

.search-bar section{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    padding-bottom: 10px;
}

.search-bar input{
    content: flex;
    border: none;
    border-radius: 15px;
    padding: 3px 10px;
    margin-right: 5px;
    width: 15vw;
}

.search-bar input:focus{
    outline-color: #4E6143;
}

.search-bar button{
    border:none;
    background-color: #9DBF89;
}

.search-bar button:hover{
    color: #818181
}